@keyframes aparece
{
 from {color:rgb(53, 53, 53);}
 to {color:aqua;}
}

@keyframes close
{
0% {width:0%; height:0%;}
25%{width:100%; height:100%; transform:rotate(90deg)}
50%{width:250%; height:250%; transform:translate(100%,20%)}
60%{width:400%; height:100%; transform:rotate(2000deg)}
75%{width:500%; height:500%; transform:translate(200%,10%)}
100%{width:100%; height:100%; transform:translate(123%,0%)}
}

@keyframes bem_doido
{
0%{color:blueviolet;}
10%{ color:red;}
20%{ color:blue; }
30%{ color:cyan;}
40%{ color:greenyellow; }
50%{ color:orange; }
60%{ color:green; }
70%{color:darkorchid; }
80%{ color:white; }
90%{color:black;}
100%{ color:rgb(21, 255, 0);}
}


.bagunca
{
animation-name:bem_doido;
animation-duration:120s;

}

.aumenta
{
animation-name:close;
animation-duration:5s;
}
.anima
{
    animation-name: aparece;
    animation-duration:8s;

}
body
{
background-color:rgb(53, 53, 53);
border:8px solid aqua;
border-radius:0.5cm;
}


button
{
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius:3rem;
font-size:100%;
background-color:aquamarine;
color:red;
border-color:aquamarine;
transition: transform 0.01s ,color 0.01s, background-color 0.015s, border-color 0.01s;
transition-timing-function:linear;

}

img:hover
{
cursor:pointer;

}

button:hover
{
 transform:scale(1.5,1.5);
 color:blue;
 background-color:yellow;
border-color:yellow;
}

button:active
{
transform: scale(1,1);


}

#button_order
{
    display:flex;
justify-content:space-between;
width:60%;
border:0.5rem solid rgb(99, 99, 99);
margin:0 auto;
border-radius:1cm;
background-color:rgb(99, 99, 99);
}


#localtexto
{

display:flex;

}

#sacred_text
{
    
color:aqua;
font-size:150%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#localimg
{
margin-left:2%;
margin-right:2%;
width:30%;
margin-bottom:2%;
}

#imagemtexto
{  


margin-right:0;
border-radius:10%;
}




h1
{
text-align:center;
color:aqua;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.linha
{
display:flex;
flex-direction: row;
}

.coluna
{
    display:flex;
    flex-direction:column;
}

#resposta
{
margin-top:5%;

}